@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@import "tailwindcss";

@theme {
  --font-sans:
    "Pretendard", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@variant dark (&:where(.dark, .dark *));

@utility break-keep {
  word-break: keep-all;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d4d4d8;
  border-radius: 99px;
  border: 4px solid transparent;
  background-clip: content-box;
}

.dark ::-webkit-scrollbar-thumb {
  background-color: #3f3f46;
}

html {
  scroll-behavior: smooth;
  font-family: var(--font-sans);
}
